# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.so

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env
docker-compose.override.yml

# ML models
# models/*.pkl
models/*.pt
models/*.h5
